@import 'tools';

*{
  font-family: $raleway;
}
h1{
  margin: 0px;
}

.nav{
  // background-color: rgba(54, 70, 82, 0.7);
  // box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.75);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    margin-left: 7vw;
    color:$ltblue;
  }
}


.body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // background-image: url(./images/footer_lodyas.png);
  background:-webkit-linear-gradient(#545F66, 50%, $ltblue);
  background:-o-linear-gradient(#545F66, 50%, $ltblue);
  background:linear-gradient(#545F66, 50%, $ltblue) ;

}

.LPbody{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:80vh;
  width:100%;
  align-items: center;
}

.helloName{
  font-size: 2em;
  margin-bottom: 0;
  color:#f7fff6;
}

.currentHunt{
  height: 25%;
  width: 80%;
  border: 2px solid $ltblue;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 7px 0px #585F54;
  p{
    font-size: .7em;
    margin-left: 10px;
    width: 140px;
  }
  .curHuntSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
  }
}

.smbutton{
  height: 30px;
  width: 120px;
  border: 1px solid $ltblue;
  border-radius: 5px;
  text-align: center;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0);
}

.lgbutton{
  height: 60px;
  width: 200px;
  border: 2px solid #545F66;
  color: #545F66;
  border-radius: 8px;
  text-align: center;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 3px 5px 7px 0px #585F54;
  margin-bottom: 5vh;
}

.curHuntSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.huntThumbnail{
  height: 80px;
}

ul{
  list-style: none;
  padding: 0;
}
.hunt-des{
  margin-top: -25vh;
  margin-bottom: 5vh;
  padding: 3%;
  text-align: center;
  font-size: 3em;
  color:#fbfff8;
  z-index:1;
}
.HPimage{
  margin-top: 10vh;
  opacity: 0.65;
  height:30vh;
  width: 98%;
  box-shadow: 0px 2px 7px 3px #585F54;
  margin-bottom:2vh;
  border-bottom: 2px solid #585F54;
  z-index: 0;
}

.allClueCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  margin-bottom: 5vh;
}


.cluecard {
  float: left;
  height: 13vh;
  width: 13vh;
  border: 2px solid $ltblue;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin:2px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 3px 5px 7px 0px #585F54;
  font-size: 40px;
  img{
    width: 50px;
    height: 50px;
  }
}

.complete{
  background-color: rgba(255,255,255,0);
  border: 2px solid $green;
}

.incomplete{
  background-color: rgba(255,255,255,0);
  border: 2px solid $red;
}
.untouched{
  background-color: rgba(255,255,255,0);
  border: 2px solid $ltblue;
}
.resultPhoto img{
  height: 25vh;
  width: auto;
}

.clue-des {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  color:#fbfff6;
}

.home-logo{
  height: 8vh;
  width: 8vh;
  margin-right: 7vw;
}
