$red: #D5573B;
$ltblue: #99DDC8;
$gray: #545F66;
$navy: #364652;
$green: #95BF74;

@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

$arvo: 'Arvo', serif;
$raleway: 'Raleway', sans-serif;
$source: 'Source Sans Pro', sans-serif;
